* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: mathFont;
    src: url("font/lmroman10-regular-webfont.ttf");
}

@font-face {
    font-family: mathFontItalic;
    src: url("font/lmroman10-italic-webfont.ttf");
}



.mobile-warning {
    display: none;
    background-color: rgb(240, 237, 238);
    height: 100%;
    width: 100%;
    z-index: 50;
    position: fixed;
    color: rgb(44, 102, 110);
    font-family: mathFont;
}

.mobile-warning h1 {
    font-size: 50px;
    padding: 5px;
    margin-left: 110px;
    margin-left: 3.5em;
}

.mobile-warning h1::after {
    content: "";
    display: block;
    background-color: rgb(7, 57, 60);
    border-radius: 10px;
    width: 136px;
    height: 3px;
    left: 3.5em;
    align-items: center;
    position: absolute;
}

.mobile-warning h2,
.mobile-warning h3 {
    font-size: 130%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(24, 24, 24);
    height: 100vh;
    width: 100vw;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
    font-family: mathFont;
    font-size: 140%;
    min-width: fit-content;
}

[data-add-remove] {
    margin: 5px;
    max-width: 80px;
}

.tab-container {
    margin: 20px;
    /*position: absolute;*/
}


.tabs {
    display: flex;
    position: absolute;
    z-index: 1;
    margin-top: -15px;
    margin-left: 25px;
    padding: 0;
    border: 5px solid rgb(51, 51, 51);
    box-shadow: -5px 5px 3px black;
    width: 400px;
    justify-content: center;
}



.tab {
    cursor: pointer;
    
    font-family: mathFont;
    font-size: 150%;
    width: 200px;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    transition: ease 0.5s;
}


.tab:hover {
    background-color: #ddd;
}

.tab:active {
    background-color: rgb(189, 255, 255);
}

#vector-heading {
    text-align: center;
    text-shadow: 1px 1px 2px grey;
}

.vector-label {
    margin-top: 50px;
    margin-left: 15px;
}

.vector-label::after {
    content: "";
    display: block;
    background-color: rgb(51, 51, 51);
    width: 70px;
    height: 1px;
}

#vector-type {
    margin-top: 5px;
    margin-left: 15px;
    width: fit-content;
    font-size: 15px;
    border-radius: 0px;
    border-color: black;
    border-width: 2px;
}


#vector-singular {
    max-width: 175px;
    max-height: 30px;
    margin-bottom: -40px;
    position:static;
}

#vector-parametric {
    max-width: 260px;
    margin-left: 180px;
    visibility: hidden;
}   


.type {
    float:left
}


.active#vector-inputs {
    display: grid;
    background-color: white;
    width: 450px;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
}
/*
#v-button {
    display: flex;
    margin-left: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    background-color: white;
    transition: ease 0.2s;
}

#v-button:hover {
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(51, 51, 51);
}
*/
#v-button {
    align-items: center;
    position:fixed;
    z-index: 1;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    margin-left: 15px;
    margin-top: 160px;
    margin-bottom: 5px;
    color: #000;
    cursor: pointer;
    display: flex;
    fill: #000;
    font-family: mathFontItalic;
    font-size: 20px;
    font-weight: 550;
    height: 28px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    width: 94px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #v-button:focus {
    color: #171e29;
  }
  
  #v-button:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  #v-button:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }

  #v-button:hover {
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(51, 51, 51);
}

#vector-inputs input {
    width: 30px;
    text-align: right;
    font-family: mathFont;
    font-size: 105%;
    margin: 5px;
    border: none;
    background: none;
}


.points-label {
    margin-left: 15px;
    margin-top: 36px;
}

.points-label::after {
    content: "";
    display: block;
    background-color: rgb(51, 51, 51);
    width: 65px;
    height: 1px;
}

/*
#point-button {
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    background-color: white;
    transition: ease 0.2s;
}
*/

#point-button {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000;
  cursor: pointer;
  display: flex;
  fill: #000;
  font-family: mathFontItalic;
  font-size: 20px;
  font-weight: 550;
  height: 28px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 70px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#point-button:focus {
  color: #171e29;
}

#point-button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

#point-button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

#point-button:hover {
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(51, 51, 51);
}

#point {
    margin-left: 12px;
    word-spacing: -15px;
    
}

#point input {
    width: 32px;
    margin-right: 10px;
    text-align: center;
}




.active#matrix-inputs {
    display: flex;
    position: absolute;
    flex-direction: row;
    background-color: white;
    width: 450px;
    padding: 5px;
    height: 300px;
}



#matrix-heading {
    margin-top: 50px;
    margin-left: 10px;
    position: absolute;
}

#vector-select {
    height: 20px;
    margin-top: 6.6em;
    margin-left: 0.7em;
    width: 150px;
    max-width: 150px;
}

.row {
    display: flex;
    justify-content: center;
}

.row input {
    background: none;
    border: none;
    outline: none;
}

#matrix-input {
    margin-top: 2.5em;
    margin-left: 8.7em;
    margin-bottom: 1em;
    position: absolute;
}

#bracket-left {
    font-size: 80px;
    position: absolute;
    margin-left: 2.1em;
    margin-top: 0.49em;
}


#bracket-right {
    font-size: 80px;
    position: absolute;
    margin-left: 3.1em;
    margin-top: 0.49em;
}

#arrow {
    font-size: 50px;
    position: absolute;
    margin-left: 5.9em;
    margin-top: 1.32em;
}

.apply.btn.container {
    justify-content: right;
}
/*
#apply-matrix-btn {
    margin-left: 17em;
    margin-top: 4.4em;
    font-family: mathFont;
    font-size: 20px;
    text-align: center;
    padding: 2px;
    position: absolute;
}
*/
#apply-matrix-btn {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    margin-left: 16.45em;
    margin-top: 4.17em;
    color: #000;
    cursor: pointer;
    display: flex;
    fill: #000;
    font-family: mathFontItalic;
    font-size: 20px;
    font-weight: 550;
    height: 48px;
    justify-content: center;
    /*letter-spacing: -.8px;*/
    line-height: 24px;
    min-width: 70px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
  }
  
  #apply-matrix-btn:focus {
    color: #171e29;
  }
  
  #apply-matrix-btn:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  #apply-matrix-btn:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  #apply-matrix-btn:hover {
      border-radius: 5px;
      box-shadow: 2px 2px 2px rgb(51, 51, 51);
  }

#examples {
    position: absolute;
    justify-content: left;
    font-size: 25px;
    margin-top: 150px;
    margin-left: 10px;
}

.example-buttons {
    display: grid;
    grid-template-columns: 200px 180px;
    max-height: 40px;
    margin-top: 200px;
    position: absolute;
    margin-left: 40px;
}

.example-buttons button {
    border-radius: 5px;
    margin: 1.5px;
    padding: 3px;
}



#examples-label::after {
    content: "";
    display: block;
    background-color: rgb(51, 51, 51);
    width: 105px;
    height: 1px;
}



#right-bracket {
    margin-left: 2em;
    font-size: 50px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    
}

#left-bracket {
    display: flex;
    justify-content: left;
    font-size: 50px;
}

#matrix-input input {
    font-family: mathFont;
    font-size: 20px;
    width: 20px;
    text-align: center;
    border: none
}

#matrix-heading::after {
    content: "";
    display: block;
    background-color: rgb(51, 51, 51);
    width: 70px;
    height: 1px;
}

.apply-btn-container {
    position: absolute;
    margin-left: 25px;
}

.active#plane-inputs {
    display: grid;
    background-color: white;
    width: 450px;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
}

#plane-inputs input {
    width: 32px;
    text-align: right;
    font-family: mathFont;
    font-size: 105%;
    margin: 5px;
    border: none;
    background: none;
}

.plane-label {
    margin-top: 50px;
    margin-left: 15px;
}

.plane-label::after {
    content: "";
    display: block;
    background-color: rgb(51, 51, 51);
    width: 60px;
    height: 1px;
}


#plane-button {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
    cursor: pointer;
    display: flex;
    fill: #000;
    font-family: mathFontItalic;
    font-size: 20px;
    font-weight: 550;
    height: 28px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 70px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #plane-button:focus {
    color: #171e29;
  }
  
  #plane-button:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  #plane-button:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  #plane-button:hover {
      border-radius: 5px;
      box-shadow: 2px 2px 2px rgb(51, 51, 51);
  }

.plane {
    letter-spacing: 5px;
}

/*
#plane-inputs input {
    width: 30px;
    text-align: right;
    font-family: mathFont;
    font-size: 105%;
    margin: 5px;
    border: none;
    background: none;
}
*/

.vector-container {
    position: absolute;
    font-family: mathFont;
    margin-top: 20em;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    z-index: 10;
}

#active-vectors {
    margin-left: 5px;
    font-size: 18px;
    padding: 5px;
}

#av-title {
    padding: 8px;
    font-size: 24px;
}


#active-vectors ol {
    list-style: none;
}

#remove-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#remVector {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
    cursor: pointer;
    display: flex;
    fill: #000;
    font-family: mathFontItalic;
    font-size: 20px;
    font-weight: 550;
    height: 28px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 70px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  #remVector:focus {
    color: #171e29;
  }
  
  #remVector:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  #remVector:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  #remVector:hover {
      border-radius: 5px;
      box-shadow: 2px 2px 2px rgb(51, 51, 51);
  }

#vector-remove-button {    
    padding: 3px;

}

.title {
    padding: 2px;
    font-family: mathFont;
    color: gainsboro;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute center;
    z-index: 1;
}

.container h3 {
    font-size: 15px;
    color: grey;
    position: absolute;
    margin-left: 1600px;
}

@media all and (max-width: 480px) {
    
    .title {
        display: none;
    }

    .tab-container {
        display: none;
    }
    
    .mobile-warning {
        display: block;
        background-color: rgb(240, 237, 238);
        height: 100%;
        width: 100%;
        z-index: 50;
        position: fixed;
        color: rgb(44, 102, 110);
        font-family: mathFont;
    }
    
    #sorry {
        font-size: 15vw;
        padding: 5px;
        text-align: center;
        background-color: rgb(10, 9, 12);
        width: 100vw;
    }
    
    #github-title {
        font-size: 15vw;
        font-weight: 600;
        text-align: center;
        margin-top: 10vh;
        position: absolute;
        bottom: 150px;
        transform: translate(50%, 0);
    }

    #github-img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        padding: 80px;
        bottom: 0;
        left: 50%;

        transform: translate(-50%, 0);
    }

    #sorry::after {
        content: "";
        display: flex;
        text-align: center;
        background-color: rgb(7, 57, 60);
        border-radius: 10px;
        width: 96.5%;
        height: 3px;
    }
    
    
    .mobile-warning h2,
    .mobile-warning h3 {
        font-size: 7vw;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        padding: 5px;
    }
}


@media all and (max-width: 1024px) and (min-width: 768px) {
    
    .title {
        display: none;
    }

    .tab-container {
        display: none;
    }
    
    .mobile-warning {
        display: block;
        background-color: rgb(240, 237, 238);
        height: 100%;
        width: 100%;
        z-index: 50;
        position: fixed;
        color: rgb(44, 102, 110);
        font-family: mathFont;
    }
    
    #sorry {
        font-size: 15vw;
        padding: 5px;
        text-align: center;
        background-color: rgb(10, 9, 12);
        width: 100vw;
    }
    
    #github-title {
        font-size: 10vw;
        font-weight: 600;
        text-align: center;
        margin-top: 100px;
    }

    #github-img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        bottom: 80px;
    }

    #sorry::after {
        content: "";
        display: flex;
        text-align: center;
        background-color: rgb(7, 57, 60);
        border-radius: 10px;
        width: 96.5%;
        height: 3px;
    }
    
    
    .mobile-warning h2,
    .mobile-warning h3 {
        font-size: 5vw;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        padding: 5px;
    }
}
